$aplayer-height: 66px;
$lrc-height: 30px;
$aplayer-height-lrc: $aplayer-height + $lrc-height - 6;

.player-list {
  //   overflow: auto;
  transition: all 0.5s ease;
  //   display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #eee;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }

  li {
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    font-size: 12px;
    border-top: 1px solid #e9e9e9;
    cursor: pointer;
    transition: all 0.2s ease;
    overflow: hidden;
    margin: 0;

    &:first-child {
      border-top: none;
    }
    &:hover {
      background: #efefef;
    }
    &.player-list-light {
      background: #e9e9e9;
      
      .player-list-cur {
        display: inline-block;
      }
    }

    .player-list-cur {
      display: none;
      width: 3px;
      height: 22px;
      position: absolute;
      left: 0;
      top: 5px;
      cursor: pointer;
    }
    .player-list-index {
      color: #666;
      margin: right 12px;
      cursor: pointer;
    }
    .player-list-author {
      color: #666;
      float: right;
      cursor: pointer;
    }
  }
}
