@import "../../../../scss//styles.scss";

.audio-list-item {
  width: 100%;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__index {
    img {
      height: base(1);
      width: base(1);
    }
    height: base(1);
    width: base(1);
    text-align: center;
    line-height: base(1);
  }
  &__label,
  &__author {
    height: base(1);
    // flex-basis: base(1);
    text-align: base(1);
    line-height: base(1);
  }
  &__label {
    margin-right:auto;
  }
}
