@import "../../../scss//styles.scss";

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // padding:0 base(.25);
  border-radius: $style-radius-l;
  line-height: base(1);

//   background: cadetblue;
  &__index {
    height: base(1);
    width: base(1);
    flex-basis: base(1);
    text-align: center;
  }
  &__label {
    margin-right: auto;
  }
  &__actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  //   &--active {
  //   }
  &:hover {
    color: green;
    background:green;
  }
}
