@import "../../scss/styles";

.breadcrumb {
  width: 100%;
  &__wrap {
    height: base(1);
    display: flex;
    // justify-content: space-around;
    align-items: center;
  }
  &__labels {
    overflow: hidden;
    display: inline-block;
  }
  &__link {
    display: inline-block;
    // margin-top:base(0.2);
    padding: base(0.1);
    cursor: pointer;
    background: papayawhip;
    border-radius: $style-radius-l;
  }
  &__slash {
    display: inline-block;
  }
}
