$player-height: 66px;
$lrc-height: 30px;
$player-height-lrc: $player-height + $lrc-height - 6;

.player-body {
  position: relative;

  .player-pic {
    position: relative;
    float: left;
    height: $player-height;
    width: $player-height;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover .player-button {
      opacity: 1;
    }

    .player-button {
      position: absolute;
      border-radius: 50%;
      opacity: 0.8;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
      transition: all 0.1s ease;

      path {
        fill: #fff;
      }
    }
    .player-hide {
      display: none;
    }

    .player-play {
      width: 26px;
      height: 26px;
      border: 2px solid #fff;
      bottom: 50%;
      right: 50%;
      margin: 0 -15px -15px 0;
      svg {
        position: absolute;
        top: 3px;
        left: 4px;
        height: 20px;
        width: 20px;
      }
    }

    .player-pause {
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      bottom: 4px;
      right: 4px;
      svg {
        position: absolute;
        top: 2px;
        left: 2px;
        height: 12px;
        width: 12px;
      }
    }
  }

  .player-info {
    margin-left: $player-height;
    padding: 4px 2px;
    height: $player-height;
    box-sizing: border-box;

    .player-music {
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
      user-select: text;
      cursor: default;
      padding-bottom: 2px;
      height: 30px;

      .player-title {
        font-size: 14px;
      }

      .player-author {
        font-size: 12px;
        color: #666;
      }
    }

    .player-controller {
      position: relative;
      display: flex;
      align-items: center;

      .player-bar-wrap {
        margin: 0px 5px;
        // padding: 4px 0;
        cursor: pointer !important;
        flex: 1;

        &:hover {
          .player-bar .player-played .player-thumb {
            transform: scale(1);
          }
        }

        .player-bar {
          position: relative;
          height: 5px;
          margin:5px;
          width: 100%;
          background: #cdcdcd;

          .player-played {
            background: red;
            height:5px;
          }

          .player-loaded {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 5px;

            .player-thumb {
              position: absolute;
              top: 0;
              right: 5px;
              margin-top: -4px;
              margin-right: -10px;
              height: 10px;
              width: 10px;
              border-radius: 50%;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              transform: scale(1);
            }
          }
        }
      }

      .player-time {
        position: relative;
        right: 0;
        bottom: 4px;
        height: 17px;
        line-height: 17px;
        color: #999;
        font-size: 11px;
        padding-left: 7px;

        .player-time-innner {
          vertical-align: middle;
        }

        .player-icon {
          cursor: pointer;
          transition: all 0.2s ease;

          path {
            fill: #666;
          }

          &.player-icon-loop {
            margin-right: 2px;
          }

          &:hover {
            path {
              fill: #000;
            }
          }

          // &.player-icon-menu {
          //   display: none;
          // }
        }

        &.player-time-narrow {
          .player-icon-mode {
            display: none;
          }

          .player-icon-menu {
            display: none;
          }
        }
      }

      .player-volume-wrap {
        position: relative;
        display: inline-block;
        margin-left: 3px;
        cursor: pointer !important;

        &:hover .player-volume-bar-wrap {
          height: 40px;
        }

        .player-volume-bar-wrap {
          position: absolute;
          bottom: 15px;
          right: -3px;
          width: 25px;
          height: 0;
          z-index: 99;
          overflow: hidden;
          transition: all 0.2s ease-in-out;

          &.player-volume-bar-wrap-active {
            height: 40px;
          }

          .player-volume-bar {
            position: absolute;
            bottom: 0;
            right: 10px;
            width: 5px;
            height: 35px;
            background: #aaa;
            border-radius: 2.5px;
            overflow: hidden;

            .player-volume {
              position: absolute;
              bottom: 0;
              right: 0;
              width: 5px;
              transition: all 0.1s ease;
            }
          }
        }
      }
    }
  }
}
