@import "@/scss/styles";

.header {
  background: var(--theme-elevation-50);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
  // height: $top-header-offset-m;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: green;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__action {
    padding: base(0.3);
  }
}
